:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  list-style: none;
  column-gap: 10px;
}
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
.h-full-vh{
  min-height: 100vh;
}
.overflow-y{
  overflow-y: scroll;
}
.navbar-nav .active {
  font-weight: 500;
  color: #5699ff !important;
}
.min-height{
  min-height: 150px;
}